<nav>
  <a href="/"
    ><img class="nav__logo" src="../img/Logo/LogoCompPositive.png" alt=""
  /></a>
  <ul class="nav__enlaces">
    <li>
      <a class="nav__enlace" href="/">Inicio</a>
    </li>
    <li>
      <a class="nav__enlace" href="/registro">Registrate</a>
    </li>
    <li>
      <a class="nav__enlace nav__enlace--borde" href="/acceso">Iniciar sesión</a>
    </li>
  </ul>
</nav>
