<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acceso</title>
    <link rel="stylesheet" href="../css/acceso.css" />
  </head>
  <body>
    <%- include('includes/nav.ejs') %>
    <main class="base">
      <div class="base__izq">
        <div class="base__contenedor--izq">
          <div class="base__contenedor--frase">
            <div class="base__titulos">
              <h1>Busca la salud...</h1>
              <h1>Busca la felicidad...</h1>
              <h1>Busca la vida...</h1>
            </div>
            <div class="base__frases">
              <div class="base__frase">
                <div class="base__frase--texto">
                  <p>
                    “Los medicamentos no siempre son necesarios. La creencia en
                    la recuperación siempre lo es”
                  </p>
                  <div class="base__frase--autor">
                    <strong>Norman Cousins</strong>
                  </div>
                </div>
              </div>
              <div class="base__frase">
                <div class="base__frase--texto">
                  <p>“No hay medicina que cure lo que no cura la felicidad”</p>
                  <div class="base__frase--autor">
                    <strong>Gabriel García Márquez</strong>
                  </div>
                </div>
              </div>
              <div class="base__frase">
                <div class="base__frase--texto">
                  <p>
                    "Estar preparado es importante, saber esperar lo es aún más,
                    pero aprovechar el momento adecuado es la clave de la vida”
                  </p>
                  <div class="base__frase--autor">
                    <strong>Arthur Schnitzler</strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="button-holder">
              <a href="#slider-1" class="button"></a>
              <a href="#slider-2" class="button"></a>
              <a href="#slider-3" class="button"></a>
            </div>
          </div>
          <div class="base__referencia">
            <p>
              Foto de
              <a
                href="https://www.pexels.com/es-es/foto/sano-persona-corazon-mano-4386466/"
                >Karolina Grabowska</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="derecha">
        <div class="formulario">
          <div class="contenedor">
            <div class="contenido">
              <div class="superior">
                <p>BIENVENIDO DE VUELTA</p>
                <h2>Ingrese a su cuenta</h2>
                <form action="/acceso" method="post">
                  <div class="input correo">
                    <p>Correo electrónico</p>
                    <input
                      type="email"
                      name="correo"
                      placeholder="carlosram@nomail.com"
                      id="nombre"
                    />
                  </div>
                  <div class="input contrasenia">
                    <p>Contraseña</p>
                    <input
                      type="password"
                      name="contrasenia"
                      placeholder="•••••••••••"
                      id="contraseña"
                    />
                  </div>
                  <% if (typeof error !== 'undefined') { %>
                    <p class="error_controlador" id="error_controlador">
                      <%= error %>
                    </p>
                    <% } %>
                  <input
                    name="btn_ingresar"
                    class="submit"
                    type="submit"
                    value="INGRESAR"
                  />
                </form>
              </div>
              <p class="login">
                ¿Nuevo usuario?&nbsp<a href="./registro">REGISTRATE AQUÍ</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
