<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regimed</title>
    <link rel="icon" href="img/Logo/LogoPositive.png" type="image/png">
    <link rel="stylesheet" href="CSS/index.css" />
    <script
      src="https://kit.fontawesome.com/f5b8feb020.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="JS/nav.js"></script>
  </head>
  <body>
    <%- include('includes/nav') %>
    <main>
      <section class="inicio">
        <div class="inicio__contenedor">
          <div class="inicio__contenido">
            <h1>Una vida al alcance de tus manos.</h1>
            <p>
              Creamos una solución integral para el acceso sencillo a tu
              información básica y médica desde cualquier lugar, brindándote
              tranquilidad y seguridad para las situaciones donde cada segundo
              cuenta.
            </p>
            <div class="inicio__boton">
              <a class="" href="/registro">Inicia ahora</a>
            </div>
            <cite
              >Foto de
              <a
                href="https://www.pexels.com/es-es/foto/foto-de-enfoque-selectivo-de-plantulas-de-plantas-verdes-en-el-tronco-de-un-arbol-1151418/"
                >David Alberto Carmona Coto</a
              >
            </cite>
          </div>
        </div>
      </section>
      <section class="informacion">
        <div class="informacion__izquierda">
          <h2>Acerca de nosotros.</h2>
          <p>
            En un instante y con solo un escaneo: Accede a tu historial médico
            completo a través de un código QR, brindándote la paz mental de
            tener información vital a mano en cualquier emergencia.
          </p>
          <div class="informacion__puntos">
            <div class="informacion__punto">
              <i class="fa-solid fa-check"></i>
              <p>
                <strong>Siempre accesible:</strong> Ingresa desde cualquier
                dispositivo a tu información esencial médica en pocos pasos,
                asegurando tener todo lo necesario para una buena atención
                médica.
              </p>
            </div>
            <div class="informacion__punto">
              <i class="fa-solid fa-check"></i>
              <p>
                <strong>Información familiar:</strong> Accede de manera rápida y
                segura a la información básica y médica relevante de tus seres
                queridos y personas de confianza en nuestra aplicación web.
              </p>
            </div>
            <div class="informacion__punto">
              <i class="fa-solid fa-check"></i>
              <p>
                <strong>Todo a tu alcance:</strong> Guarda todos los archivos
                relevantes y necesarios para cualquier trámite médico. Desde
                informes de laboratorio hasta imágenes de diagnóstico, nuestro
                sistema te permite almacenar de manera segura y accesible todos
                los documentos médicos importantes.
              </p>
            </div>
          </div>
        </div>
        <div class="informacion__derecha">
          <div class="informacion__contenido">
            <div class="informacion__imagen"></div>
            <cite>
              Foto de
              <a
                href="https://www.pexels.com/es-es/foto/foco-superficial-de-flores-amarillas-946290/"
                >Darcy Lawrey</a
              >
            </cite>
          </div>
        </div>
      </section>
      <section class="nota">
        <div class="nota__contenido">
          <h2>La Nueva era de la salud personal.</h2>
          <i class="fa-solid fa-seedling"></i>
          <div class="nota__puntos">
            <p>
              Comparte fácilmente tu información médica, mejorando la
              comunicación y la eficiencia en la atención médica.
            </p>
            <p>
              "Cada momento es especial para quien tiene la visión de
              reconocerlo como tal". Henry Miller.
            </p>
          </div>
        </div>
      </section>
      <footer>
        <img loading="lazy" src="img/Logo/LogoCompPositive.png" alt="">
        <div class="redes">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-whatsapp"></i>
        </div>
      </footer>
    </main>
  </body>
</html>
