@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --aside-size: 18px;
    --h1-size: 40px;
    --h2-size: 32px;
    --h3-size: 24px;

    --title-section-size: 32px;
    --ico-section-size: 26px;

    --register-size: 20px;
    --main-size: 16px;
    --input-size: 30px;
    --span-size: 18px;

    --color-background: #ffffffa6;
    --color-select: #ffffff3d;

    --color-primary: #2961cb;
    --color-secundary: #e5e8ff;
    --color-cancel: #cb2929;

    --color-light: #f2f5ff;
    --color-extra: #c2c8eb;
    --color-scrollbar: #f1f1f1;

    --color-border: #3a3a3a48;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

h2 {
    font-size: var(--title-section-size);
    font-weight: 500;
}

h3 {
    font-size: var(--h3-size);
    color: var(--color-primary);
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
    padding: 30px 0 20px 0;
    top: 0;
    z-index: 1;
}

.nav__enlace.activo {
    border-bottom: 4px solid white;
    transition: ease-out 0.1s;
}

.nav__enlace:hover {
    border-bottom: 4px solid white;
}

.nav__enlaces {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 20px;
}

.nav__enlace {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-bottom: 0px solid white;
    transition: ease-out 0.1s;
}


body {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../img/background/Hoja.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* * Cascada */
    /* background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%); */
    /* * Hoja */
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    pointer-events: none;
    height: 100%;
}

.contenido {
    width: 70vw;
    display: flex;
    position: relative;
    scrollbar-color: var(--color-primary) var(--color-scrollbar);
    scrollbar-width: auto;
}

/* * --------------------------- Aside --------------------------- */

aside {
    color: white;
    height: 100vh;
    top: 0;
    position: sticky;
    top: 0;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
}

.logo img {
    width: 230px;
}

aside ul {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

aside ul .opcion {
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

aside ul .opcion i {
    width: 25px;
    display: flex;
    justify-content: center;
}

aside ul .seleccionado {
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: var(--color-select);
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

aside ul li {
    font-weight: 400;
    list-style: none;
    font-size: var(--aside-size);
}

aside ul i {
    font-size: var(--aside-size);
}

/* * --------------------------- Main --------------------------- */

main {
    width: 100%;
    background-color: var(--color-background);
    backdrop-filter: blur(5px);
    margin: 10px;
    border-radius: 30px;
}

main p,
strong {
    font-size: var(--main-size);
}

main .seccion {
    border-bottom: 1px solid #3a3a3a48;
    display: flex;
    flex-direction: column;
}

.seccion__titulo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
    padding-bottom: 0;
}

main .seccion__titulo i {
    width: 35px;
    display: flex;
    justify-content: center;
    font-size: var(--ico-section-size);
}

main .contenedor__titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button p {
    display: inline;
}

button.boton-datos {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-size: var(--main-size);
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    background: var(--color-primary);
    cursor: pointer;
    transition: ease-out 0.4s;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -ms-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
}

button.boton-datos:hover {
    color: var(--color-primary);
    box-shadow: inset 0 -80px 0 0 white;
}

button.boton-datos:active {
    transform: scale(0.9);
}

main .contactos tr.agregar-contacto {
    border: none;
    width: 100%;
    position: sticky;
    bottom: 0;
    padding: 0;
    display: flex;
}

main .contenedor {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .contenedor:not(:last-child) {
    border-right: 1px solid var(--color-border);
}

main .datos-personales {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.seccion__datosPersonales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 20px;
}

.ventana__seccion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.seccion__fila {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.seccion__columna {
    display: grid;
}

.seccion__columna--informacion_general {
    border-bottom: 1px solid #3a3a3a48;
    grid-template-columns: 1fr 1fr;
}

main .datos-personales {
    display: flex;
}

.contenidoImagen {
    width: 250px;
    height: 250px;
    position: relative;
}

.contenidoImagen img {
    width: 250px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

.seccion__datoPersonal {
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

input {
    border: none;
    font-size: var(--main-size);
    background-color: transparent;
    border-bottom: 2px solid var(--color-primary);
    display: inline;
    height: 21px;
    outline: none;
    max-width: 100%;
}

select {
    border: none;
    font-size: var(--main-size);
    background-color: transparent;
    border-bottom: 2px solid var(--color-primary);
    display: inline;
    height: 21px;
    outline: none;
    display: flex;
}

select:disabled {
    border-bottom: 2px solid transparent;
    color: black;
    opacity: 100%;
    appearance: none;
}

select option.vacio {
    color: #757575;
}

p.vacio {
    color: #757575;
}

main input.readonly {
    border-bottom: 2px solid transparent;
}

.seccion__izquierda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.ventana__datos {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 50px;
}

.ventana__espacio {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ventana__espacio span{
    font-size: 28px;
    font-weight: 500;
}

.ventana__datos:not(:last-child) {
    border-right: 1px solid var(--color-border);
}

main .datos-personales .valor {
    display: flex;
    justify-content: space-between;
}

main .datos-personales .valor p {
    display: inline;
}

main .datos-personales .izq .nombre {
    width: 100%;
    text-align: start;
}

.seccion__derecha {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.seccion__divisorDatos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    max-width: 125px;
}

.seccion__multiplesDatosPersonales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

main .contactos {
    width: 100%;
    height: 100%;
    display: flex;
}

main .contactos .tabla {
    height: 100%;
    overflow-y: auto;
    position: relative;
}

main table {
    border-spacing: 0;
    width: 100%;
}

td {
    padding: 0;
    text-align: start;
    padding: 10px 15px;
    border-bottom: 1px solid #3a3a3a48;
    font-weight: 500;
    font-size: var(--main-size);
}

td .telefono_registrado {
    width: 110px;
}

td .nombre_registrado {
    width: 300px;
}

td .relacion_registrado {
    width: 100px;
}

th {
    padding: 0;
    text-align: start;
    padding: 10px 15px;
    font-weight: 500;
    font-size: var(--main-size);
    background-color: var(--color-primary);
    color: white;
    border: none;
    font-weight: 400;
}

tr.superior {
    position: sticky;
    top: 0;
}

td.abajo {
    padding: 0;
    text-align: start;
    font-weight: 500;
    font-size: var(--main-size);
    color: white;
    border: none;
    text-align: end;
}

td button.agregar-contacto {
    margin: 10px;
    margin-bottom: 0;
}

tr.inferior {
    position: sticky;
    bottom: 0;
}

td.accion-contacto {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

td button.accion-contacto {
    font-size: 17px;
    height: 21px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-primary);
    align-items: center;
}

main td:last-child {
    border-right: none;
}

main .alergias .datos {
    gap: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .alergias .dato {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: scroll;
}

main .alergias .datos .contenedor-texto {
    display: flex;
    margin-bottom: 10px;
}

main .alergias .datos .contenedor-texto p {
    flex: 1;
    padding: 0 15px;
    border-right: 1px solid var(--color-border);
}

main .vacunas .tabla {
    height: 650px;
    overflow-y: auto;
}

main .vacunas-preestablecidas,
.otras-vacunas {
    width: 100%;
}

main .vacunas .vacunas-preestablecidas .bcg {
    background-color: #0056a1;
    color: white;
}

main .vacunas .vacunas-preestablecidas .hepatitis-b {
    background-color: #f08e06;
    color: black;
}

main .vacunas .vacunas-preestablecidas .pentavalente {
    background-color: #008ac4;
    color: white;
}

main .vacunas .vacunas-preestablecidas .dpt {
    background-color: #ffdb00;
    color: black;
}

main .vacunas .vacunas-preestablecidas .rotavirus {
    background-color: #006657;
    color: white;
}

main .vacunas .vacunas-preestablecidas .neumococica {
    background-color: #79caec;
    color: black;
}

main .vacunas .vacunas-preestablecidas .influenza {
    background-color: #f09ec0;
    color: black;
}

main .vacunas .vacunas-preestablecidas .srp {
    background-color: #793688;
    color: white;
}

main .vacunas .vacunas-preestablecidas .sabin {
    background-color: #b81d81;
    color: white;
}

main .vacunas .vacunas-preestablecidas .sr {
    background-color: #f19655;
    color: black;
}

.editar-imagen {
    background-color: #30303080;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.editar-imagen input {
    opacity: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 0;
}

.editar-imagen input:not(:disabled) {
    cursor: pointer;
}

.vacio {
    color: #757575;
}

.registros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, min-content));
    gap: 30px;
}

.registro {
    width: 220px;
    height: 220px;
    border-radius: 20px;
    border: none;
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.4s;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -ms-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
}

.registro img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.swal2-popup {
    border-radius: 30px;
  }

.registro p {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 25%;
    padding: 0 20px;
    font-size: 20px;
    bottom: 0;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.registro:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

.agregar-registro {
    width: 220px;
    height: 220px;
    background-color: var(--color-primary);
    border-radius: 20px;
    border: 4px solid var(--color-primary);
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.4s;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -ms-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
}

.agregar-registro i{
    font-size: 120px;
}

.agregar-registro p{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-weight: 500;
    font-size: var(--register-size);
}

.agregar-registro:hover {
    color: var(--color-primary);
    box-shadow: inset 0 -220px 0 0 white;
}

.agregar-registro:active {
    transform: scale(0.9);
}

@keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.1);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    80% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }

.fondoVentana {
    background-color: rgba(0, 0, 0, 0.452);
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.ventana {
    background-color: rgb(240, 240, 240);
    border-radius: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation-duration: 0.3s;
    gap: 30px;
}

.ventana h3 {
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.ventana p {
    font-size: 16px;
}

.ventana__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.ventana__botones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ventana__contenido {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-columns: auto;
}



.opciones-agregar-registro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingresar-agregar-registro, .compartir-registro {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 10px;
}

.codigo-agregar-registro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputAgregarRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.codigo-agregar-registro input{
    width: 160px;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #313131;
    height: 40px;
    font-size: 28px;
    text-align: center;
}

.botonAgregarRegistro {
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--color-primary);
    color: white;
    border: 1px solid #313131;
    border-left: none;
    cursor: pointer;
    transition: ease-out 0.2s;
}

.botonAgregarRegistro:hover {
    font-size: 25px;
}

.filled {
    background-color: var(--color-primary);
    color: white;
}

.abrir-camara-agregar-registro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-style: none;
    text-decoration: none;
    color: black;
}

.abrir-camara-agregar-registro i{
    font-size: 20px;
}

.contenedorQR {
    display: flex;
    justify-content: center;
}

.cancelar-agregar-registro {
    width: 100%;
}

button.cerrarVentana{
    background-color: var(--color-cancel);
    border-color: var(--color-cancel);
}

button.cerrarVentana:hover{
    color: var(--color-cancel);
}

.mostrar-ventana {
    pointer-events: auto;
    opacity: 1;
}

.agrandar-ventana {
    animation-name: bounceIn;
}

@media only screen and (max-width: 2200px) {
    .contenido {
        width: 80vw;
    }
}

@media only screen and (max-width: 2100px) {
    .contenido {
        width: 90vw;
    }
}

@media only screen and (max-width: 1860px) {
    .contenido {
        width: 100vw;
    }
}