<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regimed | Verificaci贸n</title>
    <link rel="icon" href="/images/logo/LogoPositive.png" type="image/png" />
    <link rel="stylesheet" href="/styles/auth/verificacion.css" />
    <script
      src="https://kit.fontawesome.com/f5b8feb020.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <main>
      <div class="contenido">
        <h1>Casi listo...</h1>
        <div class="contenido__texto">
          <div class="contenido__superior">
            <p>Por favor revisa tu correo <strong><%= correo %></strong> para confirmar tu cuenta</p>
          </div>
          <div class="contenido__inferior">
            <p>
              Si <strong><%= correo %></strong> no es tu direcci贸n de correo electr贸nico,
              por favor, <a href="/registro"><strong>regresa</strong></a> e ingresa el correcto.
            </p>
            <p>
              Si no has recibido el correo de verificaci贸n en 15 minutos, por
              favor revisa el folder de spam.
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
